.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal{
    display: flex;

    position: fixed;
    top: 20vh;
    
    width: 70%;
    height: 40%;
    margin: 0 auto;

    
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.modal img{
    float:left;
    margin-right: 20px;
}

.modal button{
    position: absolute;
    bottom: 40px;
    right: 30px;

    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    background-color: seagreen;
    color:white;

    border: none;
}



@media (max-width:700px) {
    .modal{
       
        top:50px;
        flex-direction: column;
        height: 700px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80%;
    }
    .modal img{
        float: none;
        text-align: center;
        width: 100%;
       
    }
    .modal button{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
}